article {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: black;
  width: 450px;
  padding: 0 0 30px 15px;
}
article section {
  position: relative;
}
article section p {
  color: white;
  font-size: 100px;
  position: absolute;
  right: 10px;
}

.numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.numbers_action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.numbers_action button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #ff9f0a;
  text-align: center;
  font-size: 50px;
  color: white;
  border: none;
}
.numbers_action button:hover {
  background-color: #fbc78e;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.numbers_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.numbers_3 button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #323232;
  text-align: center;
  font-size: 50px;
  color: white;
  border: none;
}
.numbers_3 button:first-child {
  background-color: #a5a5a5;
  color: black;
}
.numbers_3 button:hover {
  background-color: #737373;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.numbers_3 button:first-child:hover {
  background-color: #d9d9d9;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.numbers_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.numbers_2 button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #323232;
  text-align: center;
  font-size: 50px;
  color: white;
  border: none;
}
.numbers_2 button:first-child {
  background-color: #a5a5a5;
  color: black;
}
.numbers_2 button:hover {
  background-color: #737373;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.numbers_2 button:first-child:hover {
  background-color: #d9d9d9;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.numbers_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.numbers_1 button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: #323232;
  text-align: center;
  font-size: 50px;
  color: white;
  border: none;
}
.numbers_1 button:first-child {
  background-color: #a5a5a5;
  color: black;
}
.numbers_1 button:last-child {
  border-radius: 50px;
  width: 200px;
  bottom: 0px;
  position: absolute;
  padding-left: 40px;
  text-align: start;
}
.numbers_1 button:hover {
  background-color: #737373;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.numbers_1 button:first-child:hover {
  background-color: #d9d9d9;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.result_screen {
  background-color: black;
  height: 250px;
}